

<p>rooms works!</p>
<p>{{hotelName}}</p>
<div [hidden]="hideRoom">
    Number of Room:

    <div [ngStyle]="{'color' : rooms.availableRooms ? 'red' : 'green'}" 
    [innerText]="numberRoom"></div>
</div>
<!-- {{roomList |json}} -->
Available Room:
{{ rooms.availableRooms > 0 ? rooms?.availableRooms : 'No rooms' }}
<div *ngIf="rooms.availableRooms > 0; else noRooms">
    <app-room-list [rooms]="roomList"></app-room-list>

</div>
<ng-template #noRooms>
    <p>No rooms</p>
</ng-template>
<br>
<button (click)="toggle()">Toggle</button>